g {
  fill: transparent;
  stroke: blue;
  stroke-width: 5;
}

#rectangle {
  fill: blue;
}
#rectangle2 {
  stroke: red;
}

#circle {
  stroke: palevioletred;
  stroke-width: 2;
}

#ellipse {
  stroke: gold;
  stroke-width: 2;
}

#path {
  stroke: rgb(0, 100, 131);
  stroke-width: 4;
}

#curvey_path {
  stroke: lime;
  stroke-width: 3;
}

/* CSS ANIMATION */
.pulse {
  animation-name: pulse_kf;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes pulse_kf {
  0% {
    transform: scale(1);
    fill: red;
    stroke: blue;
  }

  50% {
    transform: scale(1.08);
    fill: green;
    stroke: red;
  }

  100% {
    transform: scale(1);
    fill: blue;
    stroke: green;
  }
}
